SomeList/etc/somenode.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="config">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element maxOccurs="unbounded" minOccurs="0" name="somenode" type="somenodeType"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:complexType type="somenodeType">
		<xs:sequence>
			<xs:element name="somefield" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
